
.gallery-container {
    height: 150px;
}

.image-wrapper {
    height: 100%;
    overflow: hidden;
    background-color: var(--dxp-g-root, #f3f2f2);
}

.property-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
